td.tipo {
	width: 20px;
	text-align: center;
}

td.pessoa {
	width: 180px;
}

td.descricao {
	width: 400px;	
}

td.valor Personalizado{
	width: 100px;
	text-align: center;
}

td.valor Especif{
	width: 100px;
	text-align: center;
}

td.valor {
	width: 100px;
	text-align: center;
}

td.vencimento {
	width: 100px;
	text-align: center;
}

td.pagamento {
	width: 100px;
	text-align: center;
}

td.situacao {
	width: 80px;
	text-align: center;
}

td.status{
	width: 10x;
	text-align: left;
}

td.opcoes{
	width: 10px;
	text-align: left;
}

.grid .receita {
	color: #0000ff;
}

.grid .despesa {
	color: #c23030;
}